.dot-grid {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-color: #060606;


  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15) 0.7px,
    transparent 0.7px
  );

  /* spacing between dots */
  background-size: 28px 28px;
}
