@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap");

:root {
  font-family: "Anta", system-ui, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  --primary-dark: #425765;
  --accent-teal: #5cc8c7;
  --light-yellow: #fbeda5;
  --pink-red: #fa6d80;
  --yellow-green: #deeb24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--primary-dark);
  color: var(--light-yellow);
}

/* React root */
#root {
  width: 100%;
  min-height: 100vh;
  max-width: none;
  display: block;
}

/*  page headings except landing MESH */
.page-heading {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--pink-red);
}


.page-heading-xl {
  font-size: 4rem;
  line-height: 1.1;
}

.page-heading-lg {
  font-size: 3rem;
  line-height: 1.2;
}

.page-heading-md {
  font-size: 2.25rem;
}

/* landing page manh */

.mesh-title {
  font-family: "Sekuya", sans-serif;
  font-size: 112px;
  letter-spacing: 0.08em;
  color: var(--pink-red);
}

.mesh-subtitle {
  font-family: "Anta", sans-serif;
  font-size: 18px;
  color: var(--yellow-green);
}

/* Utility */
.font-heading {
  font-family: "BBH Bogle", sans-serif;
}
